<%- include("partials/header") %>
<link rel="stylesheet" href="/stylesheets/about.css">   

<!-- <div class="jumbotron">
  <div class="container-fluid">
    <img src="https://vtstateparks.com/assets/images/wide/ascutney/ascutney4.jpg" alt="">
  </div>
</div> -->
<h1><span>_</span> Who are we?</h1>

<hr>
<!-- Page content -->
<div class="container ">
  <div class="row">
    <div class="col-md-3 col-sm-12">
      <div class="list-group">
        <p class="text-3-col list-group-item">
          <span class="list-group-item active">About</span> dolor sit quasi aspernatur incidunt nihil commodi delectus nisi eveniet ab esse, vitae distinctio quia aliquam illum odio. Blanditiis, sint molestiae quibusdam nulla similique maiores obcaecati quod. Necessitatibus amet, ipsum adipisci vero libero placeat? Magnam voluptatem eius consequatur aperiam, repellat earum itaque et nulla est incidunt, amet laudantium ad dolorum harum placeat enim possimus sit voluptatibus! Totam vel ipsa commodi a cupiditate unde  repudiandae provident, fugit ea iste hic sunt cumque?
        </p>
      </div>
    </div>
      <div class="col-md-9 col-sm-12">
      <!-- About Section -->
      <div class="row imgCont imgCont1">
        <div>
          <img class="col-xs-5  img-default" src=" https://world.lisagermany.com/wp-content/uploads/2017/07/unplugged-wilderness-trek-campsite-6-greenland.jpg ">
        </div>

        <div class="col-xs-6 bg-default">
          <h1>Foundation </h1><br>
          <h5>Tradition since 1889</h5>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti porro rerum obcaecati voluptas a ducimus exercitationem provident aspernatur quisquam, laudantium eveniet fugit voluptatem modi quae, autem unde. Minus officiis, iusto, veritatis aperiam dolores magni fuga fugit expedita quaerat dolore natus sit odit. Deleniti repellendus nihil iusto veritatis aperiam? Velit doloremque dolorem sunt ut nihil tempora fugiat excepturi, reiciendis nemo itaque ratione necessitatibus. Quod, debitis eum.<span class="w3-tag w3-light-grey">seasonal</span> ingredients.</p>
          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod temporincididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>
      
      
      <!-- Menu Section -->
      <div class="row imgCont imgCont2">
        <div class="col-xs-6 bg-default">
          <h1>Our Menu</h1>
          <br>
          <h4>Lorem, ipsum</h4>
          <p>Lorem ipsum dolor sit amet.</p><br>
        
          <h4>Lorem, ipsum dolor.</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p><br>
        
          <h4>Lorem, ipsum</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p><br>
        
          <h4>Lorem, ipsum</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p><br>
        
          <h4>Lorem, ipsum</h4>
          <p>Lorem, ipsum dolor.</p>    
        </div>
        
        <div>
          <img class="col-xs-6  img-default" src="https://world.lisagermany.com/wp-content/uploads/2017/03/kayak-1-5.jpg" >
        </div>
      </div>


      
      
      
    
      <!-- End page content -->
    </div>

  </div>
</div>

<hr>

  <div class="container-fluid bg-default2">
    <h1>Contact</h1><br>
    <p>We offer full-service catering for any event, large or small. We understand your needs and we will cater the food to satisfy the biggerst criteria of them all, both look and taste. Do not hesitate to contact us.</p>
    <p><b>Catering Service, 42nd Living St, 43043 New York, NY</b></p>
    <p>You can also contact us by phone 00553123-2323 or email catering@catering.com, or you can send us a message here:</p>
    <form >
      <div class="form-group">
        <p><input class="form-control" type="text" placeholder="Name" required name="Name"></p>
      </div>
      <div class="form-group">
        <p><input class="form-control" type="number" placeholder="How many people" required name="People"></p>
      </div> 
      <div class="form-group">
        <p><input class="form-control" type="datetime-local" placeholder="Date and time" required name="date" value="2017-11-16T20:00"></p>
      </div> 
      <div>
        <p><input class="form-group" type="text" placeholder="Message \ Special requirements" required name="Message"></p>
      </div>
      <p><button class="btn btn-default" type="submit">SEND MESSAGE</button></p>
    </form>
  </div>

<!-- Footer -->
<footer>
  <p>Powered by Saladin Dacić</p>
</footer>



<script type="text/javascript" src='/stylesheets/main.js'></script>

<%- include("partials/footer") %>