body {

    background-image: url(http://i.imgur.com/K3mPv14.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 50% 27%;
    user-zoom: 80%;

}

.all{
    width: 60%;
    z-index: 1;
    position: relative;    
}

.flashh{
    z-index: 1;
    position: relative;    
}

.lead{
    color: white;
}

.list-group{
    color: black;
}

.navbar.navbar-default{
    z-index: 1;
    position: relative;    
}

.caption-full{
    background-color: #00000080;
    color: white;
}

.well{
    background-color: #00000080;
    color: wheat;
}

.overThumb{
    margin-top: 50px;
    padding: 0;
}

.thumbnail img{
    width: 100%;
    height: 72%;
}

.thumbnail{
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: #00000055;  
}

.thumbnail .caption{
    color: white;
}

.thumbnail .caption-full{
    padding: 7px;
}

.delete-form{
    display: inline;
}








/* .slideshow li { 
    width: 100%;
    height: 130%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 25s linear infinite; 
}

.slideshow li:nth-child(1) { 
    background-image: url(http://i.imgur.com/K3mPv14.jpg) 
}
.slideshow li:nth-child(2) { 
    background-image: url(http://i.imgur.com/TVGe0Ef.jpg);
    animation-delay: 5s; 
}
.slideshow li:nth-child(3) { 
    background-image: url(http://i.imgur.com/emvhOnb.jpg);
    animation-delay: 10s; 
}
.slideshow li:nth-child(4) { 
    background-image: url(http://i.imgur.com/2LSMCmJ.jpg);
    animation-delay: 15s; 
}
.slideshow li:nth-child(5) { 
    background-image: url(https://cdn.pixabay.com/photo/2019/10/03/11/14/camp-4522970_960_720.jpg);
    animation-delay: 20s; 
}

@keyframes imageAnimation { 
    0% { 
      opacity: 0; 
      animation-timing-function: ease-in;
    }
    10% {
      opacity: 1;
      animation-timing-function: ease-out;
    }
    20% {
      opacity: 1
    }
    30% {
      opacity: 0
    }
} */
